@import url('https://fonts.googleapis.com/css2?family=Festive&display=swap');
@font-face {
  font-family: Gabriela ;
  src: url('gabriela-regular.ttf');
}

body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



::-webkit-scrollbar {

  width:8px;
  height: 13px;
  border-radius: 100px;
  }
   
  /* aqui é para personalizar o fundo da barra, neste caso estou colocando um fundo cinza escuro*/
  ::-webkit-scrollbar-track {
  background: #311273;

  }
   
  /* aqui é a alça da barra, que demonstra a altura que você está na página
  estou colocando uma cor azul clara nela*/
  ::-webkit-scrollbar-thumb {
  background: #8808ED;
  border-radius: 20px;
    border-radius: 100px;


  }
