@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');
body {
  margin: 0;
  font-family: Roboto;

}




::-webkit-scrollbar {

  width:8px;
  height: 13px;
  border-radius: 100px;
  }
   
  /* aqui é para personalizar o fundo da barra, neste caso estou colocando um fundo cinza escuro*/
  ::-webkit-scrollbar-track {
  background: #311273;

  }
   
  /* aqui é a alça da barra, que demonstra a altura que você está na página
  estou colocando uma cor azul clara nela*/
  ::-webkit-scrollbar-thumb {
  background: #8808ED;
  border-radius: 20px;
    border-radius: 100px;


  }
